{% extends "base.html" %}

{% block content %}

<!-- <h1>Seach Results</h1>
<p>Display your search results here!</p> -->

<h1>Search</h1>
<p>Allow users to query the given data set using natural language.</p>

<div>
    <form method="POST" action="/query_data" enctype=multipart/form-data>
        <div class="form-group">
            <input type='text' name='query' , placeholder="Please enter your query here" , class='form-control' ,
                style="width: 900px" />
        </div>
        <div>
            <button type="submit" class="btn btn-outline-secondary">Query</button>
        </div>
</div>

<h1>Result</h1>

<table class="table-responsive">
    <!-- <thead>
        <tr>
            <th style="width: 200px;">Student ID</th>
            <th style="width: 200px;">First Name</th>
            <th style="width: 200px;">Last Name</th>
            <th style="width: 200px;">Email</th>
            <th style="width: 200px;">Gender</th>
            <th style="width: 200px;">Major</th>
            <th style="width: 200px;">University</th>
        </tr>
    </thead> -->

    <tbody>
        {% for result in results %}
        <tr>
            {% for cell in result %}
            <!--
            <td style="font-weight: bold;" style="width: 200px;">{{ cell }}</td>
            -->
            <th style="font-weight: bold;" style="width: 200px;">{{ cell }}</th>

            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock %}