{% extends "base.html" %}

{% block content %}

<h1>Search</h1>
<p>Allow users to query the given data set using natural language.</p>

<div>
  <form method="POST" action="/query_data" enctype=multipart/form-data>
    <div class="form-group">
      <input type='text' name='query' , placeholder="Please enter your query here" , class='form-control' ,
        style="width: 900px" />
    </div>
    <div>
      <button type="submit" class="btn btn-outline-secondary">Query</button>
    </div>
</div>

{% endblock %}